:root {
    --main-color:#ff6500ff;
    --pearl: #FFFDF7;
    --offpearl: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.desktop-layout {
    overflow-y: hidden;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.25;
    color:white;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: 35px;
    z-index: 200;
    width: 500px;
    text-align: center;
}

h2 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 0.1;
    color:black;
    padding-bottom: 0px;
    font-weight: normal;
    font-size: 30px;
    z-index: 200;
    text-align: center;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 0.5;
    color:black;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 20px;
    z-index: 200;
    text-align: center;
}

h4 {
    width: 500px;
}

h5 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.2;
    color:white;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: clamp(25px, 0.45vw, 32px);
    z-index: 200;
    text-align: center;
    margin-left: 10px;
}

h6 {
    font-family: Garamond, "Times New Roman", serif;
    line-height: 0;
    color:black;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 26px;
    margin-top: 15px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: var(--main-color);
    padding-top: 5px;
    padding-bottom: 50px;

    display: flex;
    justify-content: center;   /* centers the group in the header */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 510px);
    background-color: var(--main-color);

    display: flex;
    justify-content: center;   /* centers the group in the header */
}

.header-inner {
    display: flex;
    align-items: center;       /* vertical alignment of logo + text */
    gap: 0;                 /* space between logo and title */
}

main {
    margin: 0 auto;
    line-height: 1.6;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.scroll {
  display: flex;          /* space between the sections */
  align-items: flex-start;
}

.divide {
    background-color: var(--main-color)!important;
}

.scroll section {
    flex: 1;
    padding: 160px 40px 0;
    justify-content: center;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
    height: calc(100vh - 350px);
    background-color: var(--pearl); 
    box-sizing: border-box;               /* equal width columns */
    padding-bottom:30px;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 15vh; 
    display: block;
    margin: 0 auto;
    padding-top: 0px;
}

.flashcard {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.speaker {
    height: 280px;
}

.speech {
    height: 100px;
}