:root {
    --main-color:#ff6500ff;
    --sub-color: rgb(174, 69, 0);
    --pearl: #FFFDF7;
    --offpearl: white;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.desktop-layout {
    overflow-y: hidden;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.25;
    color:white;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: 35px;
    z-index: 200;
    width: 500px;
    text-align: center;
}

h2 {
    font-family: Georgia, "Times New Roman", serif;
    color:white;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: 30px;
    z-index: 200;
    text-align: center;
    margin-top:0px!important;
    padding-top:0px!important;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
    color:white;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: 20px;
    z-index: 200;
    text-align: center;
    margin-top:0px!important;
    padding-top:0px!important;
}

h4 {
    width: 500px;
}

h5 {
    width: 600px;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.bounce {
  animation: bounce 0.4s ease;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  15%  { transform: translateX(-5px); }
  30%  { transform: translateX(5px); }
  45%  { transform: translateX(-3px); }
  60%  { transform: translateX(3px); }
  75%  { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease;
}

.header-inner {
    display: flex;
    align-items: center;       /* vertical alignment of logo + text */
    gap: 0;                 /* space between logo and title */
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 15vh; 
    display: block;
    margin: 0 auto;
    padding-top: 0px;
}


/* button stuff */

button {
  padding: 8px 16px 10px 16px;
  margin: 10px 0;
  font-weight: normal;
  font-size: 1.2em;
  border-radius: 16px;
  background: white;
  color: black;
  box-sizing: border-box;
  border: 2px solid var(--sub-color);
  border-bottom: 4px solid var(--sub-color);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif;
  transition: transform 0.05s ease;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

button.check {
    font-size: 1.4em;
}

button:active {
    transform: translateY(2px);
}


button.word:disabled {
  opacity: 0;
  cursor: default;
}

button.word:disabled:active {
  transform: translateY(1px);
}

@keyframes popIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop {
  animation: popIn 0.15s ease-out;
}

@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    opacity: 0;
  }
}

.pop-out {
  animation: popOut 0.1s ease-in forwards;
}

.next, #check {
    bottom: 0;
    display: flex;
    align-content: right;
    justify-content: center;
    padding: 10px;
    margin-right:20px;
    z-index:100;
}

button.inaccessible {
    cursor: default;
}

button.inaccessible:active {
    border: 2px solid var(--sub-color);
    border-bottom: 4px solid var(--sub-color);
    pointer-events: none;
}

.hidden {
    display: none!important;
}


/* for the footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: var(--sub-color);
    padding: 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

footer button {
  margin-top: 2px;
  margin-bottom: 0px;
}

.footer-left {
    justify-self: start;
}

.bottom-buttons {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 700px;
    justify-content: center;
}

.footer-right {
    justify-self: end;
}

/* for the word gloss  */

.word-gloss {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.gloss {
  position: absolute;
  bottom: 100%;          /* place above image */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
  font-size: 20px;

  padding: 8px 12px;
  background: var(--sub-color);
  color: rgb(255, 255, 255);
  border-radius: 8px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.gloss::after {
  content: "";
  position: absolute;
  top: 98%;              /* place directly below box */
  left: 50%;
  transform: translateX(-50%);
  
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--sub-color); /* triangle color */
}

.gloss.show {
  opacity: 1;
}


/* for the horizontal flashcard layout */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    padding-top: 5px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;   /* centers the group in the header */
}

#flashcard {
    max-width: 800px;
}

#flashcard-sentence {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 0px;
    align-items: flex-start;
    flex-direction: row;
}

.flippy #flashcard-sentence {
    flex-direction: row-reverse!important;
}

.flashcard {
    border: 4px solid var(--sub-color);
    border-bottom: 10px solid var(--sub-color);
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
    gap: 2rem;
    z-index: 1000;
    margin-top: 5px;
    margin-bottom: 60px;
    border-radius: 0px !important;
    background-color: var(--pearl);
    flex-direction: row;
}

.flashcard.flippy {
    flex-direction: row-reverse!important;
}

.scroll {
  display: flex;          /* space between the sections */
  align-items: flex-start;
  justify-content: center;
  background-color: var(--main-color);
  margin-top:140px;
}

.bottom-scroll {
  display: flex;          /* space between the sections */
  align-items: flex-start;
  justify-content: center;
  background-color: var(--main-color)!important;
}

.sentence-section {
    background-color: var(--main-color)!important;
    vertical-align: top!important;
    padding-top: 0px!important;
    justify-content: top!important;
    margin-top: 0px!important;
    max-width: 600px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left!important;
}

.bottom-scroll section {
    flex: 1;
    height: calc(100vh - 550px);
}

.speaker {
    height: 220px;
}

.flippy .speaker {
    transform: scaleX(-1)!important;
}

.speech {
    height: 85px;
}

.flippy .speech {
    transform: scaleX(-1)!important;
}


/* for the vertical flashcard layout */

.flippy #vertical-scroll{
    display: flex;
    flex-direction: row-reverse;
}

#vertical-flashcard-sentence {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 520px;
    row-gap: 4px;
    column-gap: 18px;
}

#vertical-scroll section {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 160px);
}

.vertical-left-divide {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    width: 400px;
}

#vertical-flashcard {
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
    flex-direction: row;
    gap:1.4rem;
    width: auto;
    display: flex;
    align-content: right;
    height: auto!important;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 10px;
}

.vertical-speaker {
    height: 200px;
    align-self: flex-end;
    padding-bottom: 0px;
}

.flippy .vertical-speaker {
    transform: scaleX(-1)!important;
}

#vertical-flashcard-sentence .speech {
    height: auto;
    width: 80px;
    align-self: flex-end;
    margin-right: 0px;
}

#sentence-vertical {
    padding-top:40px;
    margin-top: 0; 
}



/* for multi-choice questions */

#multichoice-header {
    height: 100px;
    padding-bottom: 10px
}

#multichoice-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.multichoice-question {
    margin-top: 105px;
    flex: 1;
    background-color: var(--main-color);
    z-index: 10000;
}

.multichoice-text {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: baseline; /* ensures vertical alignment on text baseline */
    margin-bottom: 40px;
    margin-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
}

.multichoice-text p {
    display: inline;  /* inline so it sits on the same line */
    margin: 0;        /* remove default paragraph spacing */
}

.multichoice-text i {
    display: inline; 
}

.multichoice-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.multichoice-image {
    width: 120px;
}

.multichoice-option {
    width: 200px;
    margin-top:0px;
    margin-bottom: 30px;
    height: 200px;
    border: 3px solid var(--sub-color);
    border-bottom: 7px solid var(--sub-color);
    border-radius: 0px!important;
    background-color: white;
}

.multichoice-option:disabled {
    cursor: default;
}

.multichoice-option:disabled:active {
    border-bottom: 7px solid var(--sub-color)!important;
}

.multichoice-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-color);
    padding-bottom: 60px;
}