:root {
    --main-color:#BA0B3A;
}

body {
    max-width: 2000px;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    display: flex;
}

.logo {
  width: 120px;
  height: auto;
}

nav {
    position: fixed;
    left:0;
    top:0;
    width: calc(30vw - 30px);
    background-color: var(--main-color); /* green */
    color: white;
    padding: 20px;
    padding-left: calc(25vw - 160px);
    padding-top: 20px;
    padding-right: calc(10px + 5vw);
    line-height: 2;
    height: calc(100vh); /* full height */
    box-sizing: border-box;
    z-index: 2;
}

nav a {
    display: block;
    color: white;
    text-align: left;
    padding-left:10px;
    text-decoration: none;
    margin: 10px 0;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 10px;
    padding-left: calc(30vw + 45px);
    padding-right: calc(30vw + 45px);
    padding-bottom: 50px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

main#mobile-wrapper {
  padding-left: 20px;
  padding-right:20px;
  padding-bottom:120px;
  padding-top:93px;
}

main#shot {
  background-color: var(--main-color);
  color: white;
}

main#shot a {
  color: white;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(30vw - 30px);
    background-color: var(--main-color); /* green */
    color: white;
    padding: 20px;
    padding-right: calc(25vw - 160px);
    padding-top: 250px;
    padding-left:calc(10px + 5vw);
    line-height: 2;
    height: calc(100vh); /* full height */
    box-sizing: border-box;
    z-index: 2;
}

aside a {
    display: block;
    color: white;
    text-align: right;
    padding-right:10px;
    text-decoration: none;
    margin: 10px 0;
}

aside a:hover {
    text-decoration: underline;
}

h1#shot {
    font-family: Garamond, "Times New Roman", serif;
    line-height: 1.25;
    color:white;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    font-weight: normal!important;
}


h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    line-height: 1.25;
}


h1 {
    margin-bottom: 0.25rem;
    text-align: center;
    color: #333;
    font-size: 40px;
    padding-bottom: 5px;
}

h2 {
    margin-top: 2rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-bottom: 0.25rem;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 32px;
}

ul {
    padding-left: 1.25rem;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subtitle {
    color: #555;
    margin-top: 0;
}

footer {
        position: fixed;
        bottom: 0;
        left: 0px; /* match sidebar width */
        width: calc(100%);
        background-color: var(--main-color);
        color: white;
        text-align: center;
        padding: 10px 0;
        z-index: 1;
    }

#titlehe {
    position: fixed;
    top: 0;
    left: 0px; /* match sidebar width */
    width: calc(100%);
    background-color: var(--main-color);
    color: white;
    text-align: center;
    z-index: 2;
}

#he {
    position: fixed;
    top: 43px; /* height of #titlehe */
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: var(--main-color);
    padding: 10px 20px;
    z-index: 1;
}

#he .col a {
  color: white !important;                /* hyperlink color */             /* optional: make links bold */
  padding: 0 10px;                /* space between links */
}

#he .col a:hover {
  text-decoration: underline;     /* optional: underline on hover */
}

#fo {
  display: flex;                  /* arrange children in a row */
  justify-content: center; /* space out the columns */
  align-items: center;            /* vertical alignment */
  background-color: var(--main-color);       /* header color */
  padding: 10px 20px;             /* some padding top/bottom and sides */
}

#fo .col a {
  color: white !important;                /* hyperlink color */             /* optional: make links bold */
  padding: 0 10px;                /* space between links */
}

#fo .col a:hover {
  text-decoration: underline;     /* optional: underline on hover */
}

img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    max-width: calc(40vw - 90px);
}

img#mobile-image {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    max-width: calc(100vw - 70px);
}

html, body {
  overflow-y: hidden;
}

footer::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 40px;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.1),
    transparent
  );
}

nav a.active::before {
  content: "";
  position: absolute;
  right: calc(130px + 5vw);
  transform: translateY(12px);

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

#he a.mactive::before {
  content: "";
  position: absolute;
  transform: translateX(-14px) translateY(9px);

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

#desktop-layout, #mobile-layout {
  display: none;
}