body {
    max-width: 2000px;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    display: flex;
}

nav {
    position: fixed;
    width: 420px;
    background-color: #9C501E; /* green */
    color: white;
    padding: 20px;
    padding-left: 200px;
    padding-top: 20px;
    padding-right:120px;
    line-height: 2;
    height: calc(100vh); /* full height */
    box-sizing: border-box;
    z-index: 2;
}

nav a {
    display: block;
    color: white;
    text-align: left;
    padding-left:10px;
    text-decoration: none;
    margin: 10px 0;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 10px;
    padding-left: 480px;
    padding-right: 480px;
    padding-bottom: 50px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 420px;
    background-color: #9C501E; /* green */
    color: white;
    padding: 20px;
    padding-right: 200px;
    padding-top: 250px;
    padding-left:120px;
    line-height: 2;
    height: calc(100vh); /* full height */
    box-sizing: border-box;
    z-index: 2;
}

aside a {
    display: block;
    color: white;
    text-align: right;
    padding-right:10px;
    text-decoration: none;
    margin: 10px 0;
}

aside a:hover {
    text-decoration: underline;
}


h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    line-height: 1.25;
}


h1 {
    margin-bottom: 0.25rem;
    text-align: center;
    color: #333;
    font-size: 40px;
    padding-bottom: 5px;
}

h2 {
    margin-top: 2rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-bottom: 0.25rem;
}

ul {
    padding-left: 1.25rem;
}

a {
    color: #9C501E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subtitle {
    color: #555;
    margin-top: 0;
}

footer {
        position: fixed;
        bottom: 0;
        left: 0px; /* match sidebar width */
        width: calc(100%);
        background-color: #9C501E;
        color: white;
        text-align: center;
        padding: 10px 0;
        z-index: 1;
    }

img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

html, body {
  overflow-y: hidden;
}

footer::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 40px;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.1),
    transparent
  );
}

nav a.active::before {
  content: "";
  position: absolute;
  left: 185px;
  transform: translateY(12px);

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}
