:root {
    --main-color:#BA0B3A;
    --pearl: #FFFDF7;
    --offpearl: #FFFCF0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

h1 {
    font-family: Garamond, "Times New Roman", serif;
    line-height: 1.25;
    color:white;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: 40px;
    z-index: 200;
    width: 670px;
    text-align: center;
}

h2 {
    font-family: Garamond, "Times New Roman", serif;
    line-height: 0.5;
    color:black;
    width: 400px;
    padding-bottom: 0px;
    font-weight: normal;
    font-size: 30px;
    z-index: 200;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--main-color);

    display: flex;
    justify-content: center;   /* centers the group in the header */
}

.header-inner {
    display: flex;
    align-items: center;       /* vertical alignment of logo + text */
    gap: 40px;                 /* space between logo and title */
}

.logo {
  padding-top: 2px;
    height: 60px; /* adjust as needed */
  width: auto;
}

.weekly {
    padding-top: 4px;
    width: 300px; /* adjust as needed */
    height: auto;
    align-content: center;
    display: block;
    margin: 0 auto;
}

main {
    margin: 0 auto;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.scroll {
  display: flex;          /* space between the sections */
  align-items: flex-start;
  width: 500px;
}

section.odd{
    background-color: var(--pearl);               /* equal width columns */
}

section.even{
    background-color: var(--offpearl);               /* equal width columns */
}

.scroll section {
    flex: 1;
    padding: 95px 40px 0;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
    height: calc(100vh);
    box-sizing: border-box;               /* equal width columns */
}