:root {
    --main-color:#BA0B3A;
    --pearl: #F7F4E4;
}

h1 {
    font-family: Garamond, "Times New Roman", serif;
    line-height: 1.25;
    color:white;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: 40px;
    z-index: 200;
    width: 670px;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--main-color);

    display: flex;
    justify-content: center;   /* centers the group in the header */
}

.header-inner {
    display: flex;
    align-items: center;       /* vertical alignment of logo + text */
    gap: 40px;                 /* space between logo and title */
}

.logo {
  padding-top: 2px;
    height: 60px; /* adjust as needed */
  width: auto;
}

main {
    width: 500px;
    padding-top: 95px;
    margin: 0 auto;   /* centers the box itself */
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--pearl);
    height: 100vh;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}